@media (max-width: 768px){
 	.img-right img {
 		margin: 0px !important;
    	position: relative;
 	}
 	.img-left img {
 		margin: 0px !important;
 	}
 	.logo-ppf {
	    margin: 0px;
	    z-index: 999999999999;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-top: -375px !important;
 	}
 	.text_footer_home {
 		padding-bottom: 0px !important;
 		font-size: 15px !important;
 	}
 	.menu {
	    padding-left: 30px !important;
	    padding-right: 35px !important;
	    margin-left: 15px !important;
	}
	#d2 {
		margin-top: -100px;
	}
 }